# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: '\.Rd$|NAMESPACE'
repos:
  - repo: local
    hooks:
      # https://github.com/posit-dev/air
      - id: air
        name: Format R code with air
        entry: air format
        language: system
        files: \.R$
  - repo: https://github.com/lorenzwalthert/precommit
    rev: v0.4.3.9012
    hooks:
      - id: roxygenize
        additional_dependencies:
          - S7
      - id: use-tidy-description
      - id: parsable-R
      - id: no-browser-statement
      - id: no-debug-statement
      - id: deps-in-desc
      - id: lintr
      - id: readme-rmd-rendered
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=200"]
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: '\.Rd$'
      - id: fix-byte-order-marker
      - id: mixed-line-ending
      - id: trailing-whitespace
        exclude: '\.Rd$'
  - repo: local
    hooks:
      - id: forbid-to-commit
        name: Don't commit common R artifacts
        entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
        language: fail
        files: '\.(Rhistory|RData|Rds|rds)$'
